<div class="cards-options-container grid">
    <div class="card-option col-3">
        <button class="card-option__btn">
            <img class="img-background" src="{{logoImg}}">
        </button>
        <p class="card-option__label">Opcion 1</p>
    </div>
    <div class="card-option col-3">
        <button class="card-option__btn">
            <img class="img-background" src="{{logoImg}}">
        </button>
        <p class="card-option__label">Opcion 1</p>
    </div>
    <div class="card-option col-3">
        <button class="card-option__btn">
            <img class="img-background" src="{{logoImg}}">
        </button>
        <p class="card-option__label">Opcion 1</p>
    </div>
    <div class="card-option col-3">
        <button class="card-option__btn">
            <img class="img-background" src="{{logoImg}}">
        </button>
        <p class="card-option__label">Opcion 1</p>
    </div>

</div>