.container-general{
    margin: 10px;
}

.chat-window{
    position: absolute;
    margin-left: -26px;
    height: 568px;
    z-index: -1;
    height: 100%;
    width: 100%;
    right: 0;
    padding: 0 15px;
    background: linear-gradient(351.64deg, #C1EAFF -6.45%, #EAF7FF 114.38%);
    .messages-container {
        display: flex;
        flex-direction: column-reverse;
        height: 88%;
        overflow-y: scroll;
    }
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    transform: rotateX(180deg);

}

.content-reverse{
    transform: rotateX(180deg);
    // display: flex;
    // flex-direction: column-reverse;
}

.example-item {
   height: 50px;
}