<div class="contact-card">
    <img  class="contact-card__title" src="{{logoImg}}" alt="" srcset="">
    <h3 class="contact-card__title">Datos de contacto</h3>
    <h4 class="contact-card__title secondary">Proyecto: Apartamentos Vallarta VII</h4>
    <p class="contact-card__realestate-info">Dirección sala de ventas:</p>
    <p class="contact-card__realestate-info">Calle 8 No. 18-01 Frente a Metro Zipaquirá</p>
        
    <h4 class="contact-card__title secondary">Teléfonos</h4>
    <div class="grid">
        <div class="col-6">
            <h4 class="contact-card__title secondary">Asesor</h4>
        </div>
        <div class="col-6">
            <h4 class="contact-card__title secondary">Inmobiliaria</h4>
        </div>
    </div>
</div>



